* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/* header section */

.header-container {
    display: flex;
    gap: 50px;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-around;
    padding: 50px 150px 0px 150px;
}

.header-image {
    width: 400px;
    margin-bottom: -4px;


}

.title {
    font-size: 3rem;
    padding-bottom: 10px;
}

.desc {}

.btn {
    margin-top: 20px;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background: #E55473;
}
/* find /search */
.find-container{
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 50px 150px 0px 150px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;

}
.find-btn{
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    background: #E55473;
}
.flower-name{
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    background: #E55473;
}
/* find/search end */

.main-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.main-text {
    font-size: 30px;
    padding-bottom: 20px;
}

.img-contaier {
    display: flex;
    padding: 50px 150px 0px 150px;
    align-items: center;
    justify-content: space-between;

}

.img-main {
    width: 250px;
    height: 300px;
    padding: 10px 10px 0px 10px;
}

.img-list1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.img-list2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.img-list3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.img-list-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.service-container {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 50px 150px 0px 150px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}

.service-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

.offer-container {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.10);
    padding: 10px 150px 10px 150px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.offer-title {
    font-size: 25px;
    padding-bottom: 20px;

}

.offer-image {
    width: 200px;
}

span {
    color: red;
}

.product-list {
    display: flex;
    gap: 50px;
    margin: 10px 150px 10px 150px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-list-image {
    width: 200px;

}

.subscribe-container {
    background-image: url("./image/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin: 10px 150px 10px 150px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;


}

.subscribe-text {
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.subscribe-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#email-subscriber {
    font-size: 20px;
    border: none;
    border-radius: 4px;
    width: 300px;
    padding: 10px;
    margin: 10px;
}

.footer-container {
    gap: 50px;
    color: white;
    background-color: black;
    margin: 10px 150px 0px 150px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-copyright {
    padding-top: 20px;
    font-family: Lato;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 14px;
}